*{
    padding-top: 10px;
    background: aliceblue;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    padding: 20px;
    border-radius: 10px;
    background: white;
    border: 1px solid black;
}
.bg-color{
    background-color: white;
}
.calculator form input{
    border: 0;
    outline: 0; 
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    background-color: white;
    justify-content: flex-end;
    margin: 20px 0;
    border: 1px solid black;

}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.r1{
    color: orange;
}
#equal{
    background-color: orange;
    color: white;
    border-radius: 80px;
}